.root {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;

    h2 {
        display: flex;
        justify-content: center;
    }

    .container {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 30px;
        min-height: 450px;
    }

    .pagination{
        display: flex;
        justify-content: center;
        gap: 15px;
        
        .active{
            color: white;
            background: #000;
        }

        .btn{
            width: 30px;
            height: 30px;
            border-radius: 15px;
            cursor: pointer;
            outline: none;
            border: 1px solid black;

        }
    }
}
